* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

.container {
  display: flex;
  justify-content: center;
}

/* dashboard */
.main-page-container {
  display: flex;
  justify-content: center;
}

.main-title {
  font-family: 'Anton', sans-serif;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.column:first-child {
  margin-right: 50px;
}

.question-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 50px;
  width: 370px;
  padding: 10px;
  background-color: #2A2A2A;
}

.top-container {
  background-color: #2A2A2A;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  width: 350px;
  margin-bottom: 10px;
}

.small-avatar {
  width: 40px;
  border-radius: 100%;
}

.author-avatar-container {
  width: 50px;
  font-size: 18px;
}

.would-you-rather-text {
  justify-self: center;
  font-family: 'Montserrat', sans-serif;
  margin-left: 65px;
  font-weight: bold;
}

.bottom-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
}

.first-option-container {
  margin-bottom: 5px;
  background-color: blue;
  position: relative;
}

.first-option-container,
.second-option-container,
.first-answer-container,
.second-answer-container {
  color: white;
  font-weight: bold;
  border: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 150px;
  border-radius: 5px;
}

.second-option-container {
  background-color: red;
}

.first-option-container:hover,
.second-option-container:hover {
  text-decoration: none;
  font-weight: bold;
}

.first-option-container:active,
.second-option-container:active {
  border: none;
}

.or-container {
  position: absolute;
  padding: 10px;
  border-radius: 100%;
  margin-top: 135px;
  background-color: #2A2A2A;
  color: white;
  font-weight: bold;
}

.first-answer-container {
  background-color: #C7C7C7;
  margin-bottom: 5px;
  color: #2A2A2A;
}

.second-answer-container {
  background-color: #C7C7C7;
  color: #2A2A2A;
}

.main-btn {
  background-color: blue;
  color: black;
  font-size: 12px;
  font-weight: bold;
  padding: 5px;
  margin-top: 10px;
  width: 350px;
  border: none;
  border-radius: 5px;
}

.main-btn:hover {
  color: white;
}

.voted-answer {
  text-transform: uppercase;
  color: red;
}

/* LOGIN */
.login-container {
  margin-top: 50px;
}

.login-user-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 80px;
}

.user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-avatar {
  width: 180px;
  border-radius: 100%;
}

.user-avatar:hover {
  cursor: pointer;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .5);
}

/* ADD QUESTION */
.add-question-container {
  background-color: #CDCDCD;
  width: 500px;
}

.add-question-content {
  padding: 20px 50px;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.submit-btn {
  background-color: blue;
  color: black;
  font-size: 12px;
  font-weight: bold;
  padding: 10px 20px;
  margin-top: 10px;
  width: 400px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-btn:hover {
  color:white;
}

.cancel-btn {
  background-color: #CDCDCD;
  margin-top: 10px;
  color: black;
  font-size: 12px;
  font-weight: bold;
  padding: 10px 20px;
  width: 400px;
  border: solid 1px;
  border-radius: 5px;
  cursor: pointer;
}

.cancel-btn:hover {
  color: red;
}

/* LEADERBOARD */
.item-container {
  background-color:  #CDCDCD;
  padding: 10px 50px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .8);
}

.leaderboard-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #CDCDCD;
  margin-top: 20px;
}

.leaderboard-user-container {
  background-color: #CDCDCD;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.leaderboard-column:first-child {
  width: 300px;
  margin-right: 10px;
}

.leaderboard-user-name {
  font-family: 'Anton', sans-serif;
  font-weight: bold;
}

.leaderboard-question-text {
  font-size: 13px;
}

.leaderboard-score-text {
font-weight: bold;
}

.sign-user {
  margin-right: 20px;
}

.user-container {
  text-align: center;
  margin-top: 20px;
}

.btn {
  font-size: 15px;
} 

/* navigation  */

/* text */

.second-heading {
  font-family: 'Anton', sans-serif;
}

.percentage-text {
  font-size: 12px;
  margin-top: -28px;
}

.user-name-login {
  margin-top: 20px;
}


/* lists */
.list-item {
  list-style-type: none
}